<%- include('layout') %>

<h2 data-aos="fade-in">Contact Us</h2>
<form action="/contact" method="POST" data-aos="fade-up">
  <input type="hidden" value="<%= csrfToken %>" />
  <input type="text" name="name" placeholder="Name" />
  <input type="email" name="email" placeholder="Email" />
  <textarea name="message" placeholder="Message"></textarea>
  <button type="submit" class="btn holographic">Send</button>
</form>
